# Server Configuration
NODE_ENV=development
PORT=5000
MONGODB_URI=mongodb://localhost:27017/task-manager
CORS_ORIGIN=http://localhost:5173

# Firebase Admin SDK Credentials (from Firebase Service Account)
FIREBASE_PROJECT_ID=task-manager-2b634
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYour_Actual_Private_Key_Here\n-----END PRIVATE KEY-----"
FIREBASE_CLIENT_EMAIL=firebase-adminsdk-xxxxx@task-manager-2b634.iam.gserviceaccount.com

# Cron / Bot Security Secrets
CRON_SECRET=danzo_cron_secret_local
BOT_API_KEY=danzo_bot_api_key_local
